@using BookShopOnline.Models
@model List<ChuDe>

<div class="card list-group" style="margin-top:20px; margin-bottom: 20px">
    <div class="card-header">CHỦ ĐỀ SÁCH</div>
    <div class="card-body">
        <div>
            @foreach(var item in Model)
            {
                <div class="list-group-item">
                    @*<a href="~/QLSach/GetBooksByTopic/@item.MaChuDe">
                        @item.TenChuDe
                    </a>*@     
                    <a href="@Url.Action("GetBooksByTopic", "QLSach", new { maCD = item.MaChuDe})" style="text-decoration:none">
                        @item.TenChuDe
                    </a>
                </div>
            }
        </div>
    </div>
</div>
